h1 {
  text-align: center;
  color: cyan;
}

h2 {
  text-align: center;
  color: blue;
}

h3 {
  text-align: center;
  color: blue;
}

h4 {
  text-align: center;
  color: magenta;
}

body {
  background-image: url(../img/PigDice1.jpg);
  color: white;
}